[2016-02-04 20:47] chaucerbao opened #2 "Macy.recalculate() performance degrades quickly as the set gets larger"
I'm really liking the way Macy's looking so far. Simple API, small size.

But I'm running into an issue while creating an infinite-scrolling site. The more I load, the longer `Macy.recalculate()` takes. It actually begins to slow down significantly fairly early, with only a hundred or so items.
1. You may want to consider minimizing layout thrashing with [FastDom](https://github.com/wilsonpage/fas

[2016-02-04 20:58] chaucerbao opened #3 "Use Element scope on querySelectorAll"
I noticed your `eles` function using `document.querySelectorAll()`. It might be more appropriate to use  Element.querySelectorAll(). [[MDN]](https://developer.mozilla.org/en-US/docs/Web/API/Element/querySelector).

For example, in your `calculateOnImageLoad()` function, `eles("img")` call will attempt to select all images in the document. My guess is you're really only concerned about the images i

[2016-02-08 11:02] markgoodyear commented on #3
Hey @chaucerbao thanks for the feedback. We're currently looking a v2 release soon which enables multiple Macy's on a page. We will look into this, and #2, to ensure performance doesn't suffer :smile:

[2016-03-30 23:13] wjramos commented on #3
I'd love the ability to create a list of nodes outside of Macy and pass in nodes individually, passing configuration through data attributes

[2016-03-30 23:37] wjramos opened #6 "Support for multiple-column spanned tiles"
I would love to see support for element's widths to be acknowledged and fit appropriately.

![Example](https://www.dropbox.com/s/ob9bnptrewzjp7l/Screenshot%202016-03-30%2016.36.33.png?raw=1)

Several 50% width elements with one 100% width element -- I would expect the full width element to fall on a new line and continue tiling underneath

[2016-07-13 06:46] VlooMan opened #7 "Multiple Instances per page"
Hey,

Notes say:

Do you have plans on re-working the code to support multiple instances and save all the settings as parameters relative to the current instance only? Any ETA?

Cheers

[2016-08-04 16:10] CHEWX commented on #7
You can do multiply instances by using unique `container`.

There is a caveat on this, so depends your use. On resize, it will only attach the the last instance, the same goes for any methods.

[2016-08-10 08:08] alro5 opened #8 "Macy.init happening too early"
Hello,

I'm having trouble initialising Macy. I'm working on an angular app, and I'm building a blog system. The blog page is requesting an endpoint and displaying the blogposts in an ng-repeat.

The data is being loaded, and then we're trying to init Macy after this request.

So in our success call, we're firing Macy **after the data is loaded**

I can solve this by a timeout, but this is not a b

[2016-08-23 14:46] karneaud opened #9 "Video"
Does this framework support video?

[2016-08-23 14:54] jrmd commented on #9
Hey @karneaud,

I haven’t tested macy using a video before since it was never designed to do so. You could test it out to see if it works, but there are no plans on supporting videos specifically.

Hope this helps,

Jerome

[2016-09-12 10:52] Pietfro commented on #3
I have created a pull request for that. Feel free to test :)

[2016-09-12 13:17] jrmd commented on #3
Hi @Pietfro, I am currently in progress of finalising version 2 of macy which comes with many improvements including element scope, multiple instances and overall performance improvements

[2016-09-19 12:06] #9 closed

[2016-09-27 13:51] Pietfro commented on #3
Got it @jrmd . Thanks for the update!

[2016-09-29 08:13] jhkchan opened #11 "Change this to window"
Using `this` would become `undefined` after passing through babel. I updated to `window` and things work perfectly. Please consider.

https://github.com/bigbitecreative/macy.js/blob/master/src/macy.js#L11

[2016-09-29 08:19] jhkchan opened #12 "Update doc"
Readme said `breakpoints`, should be `breakAt`.

https://github.com/bigbitecreative/macy.js#breakpoints

[2016-10-17 06:42] deansimcox opened #13 "getProperty returns the incorrect height in IE for elements that have padding"
It appears that window.getComputedStyle seems to ignore the padding for elements in IE.
I replaced this method call and used offsetHeight instead, and this seem to work.

[code]

Cheers
Dean

[2016-11-13 02:39] Siton-Systems opened #14 "Idea: add margin and margin-mobile"
**Why?**
For example:
Layout:  3 cols layout (in mobile and desktop)
**25px** margin could looks **huge** in mobile and otherwise maybe look small on desktop.

So option for:
[code]
Could be helpful.

By the way - amazing and simple to implement code!! thanks

[2017-01-14 23:13] #14 closed

[2017-02-23 17:20] HelenaWu opened #16 "V1.1.2 is not published on npm"
To start I just want to say thank you for working on macyJS, it's truly an amazing tool and saved a lot of headaches!!
In development I encountered the exact issue ("parent element height set to 0 when some elements are hidden") that was fixed by V1.1.2, however upon updating my npm file and install I received the 'No compatible version found: macy@^1.1.2" error.

Could you please publish the vers

[2017-03-01 14:27] teodors opened #17 "expand breakAt breakpoints to an object"
I feel that just specifying `breakAt` columns is not enough. Sometimes on smaller screens, you need smaller margins and larger margins in bigger screens.

[code]

[2017-03-03 19:07] renatogalvones commented on #8
@alro5 I had the same problem here using react and I was able to solve it using the "timeout,0 solution"

[code]

Here's some explanation about the concept behind of it.

https://stackoverflow.com/questions/779379/why-is-settimeoutfn-0-sometimes-useful/779785#779785

[2017-03-09 16:25] davidhellmann opened #19 "Layout Broken after Load"
It's broken after load first time. My JS is in the Footer, maybe that's the problem. Whats a good Workaround to fix that?

![image](https://cloud.githubusercontent.com/assets/764292/23759503/46cbbb0c-04ed-11e7-90d1-394db35f7972.png)

Link: https://davidhellmann.com/

[2017-03-09 16:32] jrmd commented on #19
Hey @davidhellmann,

The issue is due to the images fading in the script can’t calculate the height, the easiest way to solve this is to run a Macy.recalculate() when they fade in.

Hope this helps.

Jerome

[2017-03-09 16:43] #12 closed

[2017-03-09 16:44] jrmd commented on #17
@teodors currently there is a v2 complete just undergoing testing and should be released soon, I may add this to a 2.1 release as i understand this could be useful

[2017-03-09 16:45] jrmd commented on #7
@VlooMan When i release v2, which should be shortly, this will be addressed

[2017-03-09 17:25] jrmd commented on #16
Hi @HelenaWu

Glad you're enjoying Macy, we have pushed 1.1.2 to npm.

Thanks for bringing this to our attention

[2017-03-09 17:25] #16 closed

[2017-03-09 17:26] #19 closed

[2017-03-12 08:29] P0WW0W commented on #19
Hello @jrmd,

I'm running into the same issue as @davidhellmann. Problem seems to be isolated to Safari, and not Chrome. My only fades are using CSS, and the fades are not targeting the images in "macy-container".

![170312_screenshot](https://cloud.githubusercontent.com/assets/4086818/23830237/6ff24046-06dc-11e7-9ffe-70b90a1f4969.PNG)
See: http://reliablespice.com

Any chance you could be a littl

[2017-03-13 14:10] jrmd commented on #19
Hi @P0WW0W I cant recreate this issue on latest safari are their any steps to reproduce?

[2017-03-13 15:25] P0WW0W commented on #19
Hello @jrmd, Thanks for the quick reply.

To confirm, I'm also using Safari Version 10.0.3.

**Steps to recreate issue:**
1. Load [homepage](http://reliablespice.com)
2. Click any image link to the right hand side of the page
3. Use the home navigation button on the sub-page (upper left) to return back to the homepage.
4. Grid collapse upon load of homepage.

I'm guessing this has something to do

[2017-03-13 16:00] jrmd commented on #19
Hey @P0WW0W ,

I cant recreate the issue still but as far as i can tell you just get macy to run after images have loaded so maybe the event is firing too quickly, as a fix you could try setting `waitForImages: true` in the init options

Thanks,
Jerome

[2017-03-13 16:05] P0WW0W commented on #19
@jrmd thanks for taking a look. Interesting to hear the issue is not happening on your end. I have considered the 'waitForImages' option. Doesn't seem to resolve it. I'll continue to have a think on this one. The plugin works very well otherwise.

[2017-04-20 12:44] petrchutny opened #20 "Preview images on macy website broken"
Just noticed that the images in the preview grid on the web are broken:

![image](https://cloud.githubusercontent.com/assets/1197393/25231336/6c7d4f20-25cf-11e7-9545-1f6d9a45081c.png)

[2017-04-20 12:49] #20 closed

[2017-05-02 15:53] raedatoui commented on #7
@jrmd  any progress ?

[2017-05-02 15:59] jrmd commented on #7
@raedatoui V2 is now live on this repo, with multiple instance support, but needs pushing to npm.

[2017-05-02 18:35] raedatoui commented on #7
cool, thank you!!
`recalculate`  seems to be broken: `O.recalculate is not a function`

[2017-05-02 18:37] CHEWX commented on #7
@raedatoui I would raise a new issue, this can be closed now.

[2017-05-02 18:42] raedatoui opened #21 "Macy.recalculate"
Macy.recalculate seems to be broken using the latest from the master branch
The error that I get: `O.recalculate is not a function`

[2017-05-02 18:44] raedatoui commented on #7
@CHEWX sounds good. opened #21

[2017-05-02 19:02] CHEWX commented on #21
Hey,

This has been set-up to use instances, so you need to call the instance.

I have created a pull request (referenced above) to update the docs.

Thanks,
Tom

[2017-05-02 19:10] jrmd commented on #21
Hi @chewx

The instance is automatically created if it isn't called as `new Macy`

@radatoui could you provide me with the code used so I can look in to this. But potentially look at using `var macy_instance = new Macy({ // options })` then doing `macy_instance.recalculate()`

[2017-05-02 19:11] raedatoui commented on #21
awesome thank you!

[2017-05-02 20:22] raedatoui commented on #21
@jrmd sorry i closed this ticket very quickly
What is currently working for me:
[code]

[2017-05-02 20:23] jrmd commented on #21
@raedatoui that code looks correct, is this working?

Thanks,

Jerome

[2017-05-02 20:24] raedatoui commented on #21
@jrmd yes, but I do have to call recalculate

[2017-05-02 21:30] #21 closed

[2017-05-03 08:27] #7 closed

[2017-05-06 16:14] grund3g opened #24 "onImageLoad is not a function"
Hi,
like mentioned here https://github.com/bigbitecreative/macy.js/issues/21 I also have a problem with the 2.0.0 version. When I setup a Macy instance:

[code]

[code]

I got "TypeError: macy_instance.onImageLoad is not a function".

Anything wrong with my code?

[2017-05-06 17:02] jrmd commented on #24
Hi,

Whilst rewriting this, I didn't put this back in; but there is a similar function you can use.

`macy_instance.runOnImageLoad(() => {}, false)`

If you would prefer to me to add this back in I can look in to in the next release

I feel like this method is more useful though. Simply calls that with a function as the first parameter, then pass true/false as the second; if true then the function

[2017-05-06 18:32] grund3g commented on #24
Thanks! Works like a charm.

[2017-05-07 06:29] S1SYPHOS opened #25 "version number"
Hey there,
just wondering: `package.json` says v2.0.0, Github release history says 1.1.2 ..

[2017-05-23 16:29] emmalewis opened #26 "Margin options"
It would be nice to have different options for vertical and horizontal margins so that they don't have to match.

[2017-06-17 00:39] thedonquixotic opened #27 "Macy ReInit for lazy load images?"
Hey, I love the simplicity of Macy! I'm having a little trouble though getting it to work with lazy loading.

I'm using jQuery.lazy in a wordpress based gallery plugin that I'm building.

All my images end up overlapping, because it can't get the height for Macy.

Reading a bunch of threads on similar problems it seems I need to reinit Macy. The documentation says that if waitForImages is set to f

[2017-06-17 00:56] thedonquixotic commented on #24
@jrmd

I imagine this is the same answer to the problem I'm having with lazy load.

I'm new to code though and I'm not quite sure where to put `macy_instance.runOnImageLoad(() => {}, false)`

First, the documentation says you can set waitForImages to false, and that sounds like it should do something similar to runonImageLoad when set to true. Am I misunderstanding something?

Secondly you say tha

[2017-06-17 01:03] thedonquixotic commented on #24
When I do try running either macy_recalculate or macy_reinit I get a Reference error that looks like this:

`Uncaught ReferenceError: macy_instance is not defined
    at <anonymous>:1:1`

I also checked and it looks like `macy_instance.runOnImageLoad((macy_instance.recalculate();) => {}, false); is also producing a token error. Not sure what a token error is, I'll go look it up, but maybe I'm pass

[2017-06-17 01:13] thedonquixotic commented on #24
Okay I see. macy_instance is a reference to the var that is set for the originaly Macy.init. So I've changed my original Macy.init to this:

[code]

Still running into some issues though. Still getting that token error, and not sure why.

Looking at the #21 thread, I think there might be something else I'm doing wrong?

[2017-06-17 23:46] thedonquixotic commented on #27
Okay I've delved into this some more and I think part of the problem might be that the dist folder is out of date. I'm still new to JS and I haven't yet started building out my projects etc, so I just took the code from macy.js in dist and used that. recalculate and other things mentioned in other threads don't seem to be working, but macy_instance.reInit is working when I type it into the console

[2017-06-19 08:26] jrmd commented on #24
Hi @thedonquixotic you have a syntax error here

the runOnImageLoad function should look like this

`macy_instance.runOnImageLoad(() => { macy_instance.recalculate(); }, true);`

[2017-06-19 08:26] #24 closed

[2017-06-19 08:28] jrmd commented on #27
Hi @thedonquixotic

Rather than call reInit I would recommend using `macy_instance.recalculate()` this would recalculate the images.

Hope this helps

[2017-06-19 08:30] jrmd commented on #25
Hi @S1SYPHOS I just forgot to release it on github if im honest; this has been resolved :)

[2017-06-19 08:30] #25 closed

[2017-06-19 22:32] thedonquixotic commented on #27
@jrmd  I tried running recalculate as per your suggesetion in the other thread but it doesn't seem to do anything. reInit is working with the onImageLoad though, so that's good! I'm guessing it's not super performative though? I'm not having problems yet at least.

[2017-06-19 22:36] jrmd commented on #27
@thedonquixotic Could you show me an example so i can see how this is working but I have a feeling it will require `true` being passed as the first variable.

Like so, `macy_instance.recalculate(true)` this will force recalculate to reposition every element inside the container.

[2017-06-19 22:37] jrmd commented on #24
@thedonquixotic thats great news :) ECMA 6 can be confusing but you dont have to use it if you;re not comfortable with it yet. could can replace the line i sent with

`macy_instance.runOnImageLoad(function () { macy_instance.recalculate(); }, true);`

[2017-06-19 23:01] thedonquixotic commented on #25
@jrmd  Oh does this mean I should redownload the zip and stuff? I had a feeling the dist might be a little behind version wise but wasn't sure.

[2017-06-19 23:02] jrmd commented on #25
@thedonquixotic This depends on how you downloaded the zip, did you download it from the releases section or just the download as zip in the `clone or download` section

[2017-06-19 23:04] thedonquixotic commented on #25
I downloaded it from the clone and download section, so I'm guessing that
is or was behind versions? This might fix the problem I've been having with
getting recalculate to work.

On Mon, Jun 19, 2017 at 6:02 PM Jerome Duncan <notifications@github.com>
wrote:

[2017-06-19 23:07] jrmd commented on #25
@thedonquixotic only the releases zip was out of date :)

I do have some README updates to make to reflect the changes to the method names, which i seem to have over looked but did you try my suggestion in #27

[2017-06-19 23:18] thedonquixotic commented on #27
I'm using `macy_instance.runOnImageLoad(function () { macy_instance.recalculate(); }, true);` as per your suggestion in the other thread, but doesn't seem to work. I'm thinking this might just be because I have an old version of the dist file.

[2017-06-19 23:20] thedonquixotic commented on #25
Yeah, I'm using that. doesn't seem to be triggering the recalculation, for
some reason :shrug:

On Mon, Jun 19, 2017 at 6:07 PM Jerome Duncan <notifications@github.com>
wrote:

[2017-06-19 23:20] jrmd commented on #27
Have you tried passing true as a parameter to the recalculate

Like so `macy_instance.runOnImageLoad(function () { macy_instance.recalculate(true); }, true);`

[2017-06-19 23:22] thedonquixotic commented on #27
Ay, there we go, yes that works. Thank you!

[2017-06-19 23:26] jrmd commented on #27
Awesome that's great news

If you are wondering how the issue is caused, it was caused due to many caching the elements as loaded from the first recalculate, this is obviously helps improved performance but sometimes we need to force update them all for instance when you lazy load the images or when you resize so you pass true as the first parameter to force Macy to ignore this cache and recalcula

[2017-06-19 23:26] #27 closed

[2017-06-19 23:27] thedonquixotic commented on #27
Excellent, thank you a bunch!

On Mon, Jun 19, 2017 at 6:26 PM Jerome Duncan <notifications@github.com>
wrote:

[2017-06-20 11:15] CHEWX commented on #26
Agreed, just come across this issue, surprised I didn't earlier.

[2017-06-20 11:17] CHEWX opened #28 "[feature] - callback function or events"
As per thread title, would be nice to have some events to hook into or a callback function.

[2017-06-20 11:19] jrmd commented on #26
Hey, this is something i was going to look in to at some point when i get the time as it should be fairly easy to add :)

[2017-06-20 11:20] jrmd commented on #28
@CHEWX this seems like it would be a good idea to add I'll add it on to my list of things to look in to :)

[2017-07-05 14:31] VlooMan opened #29 "[bug] recalculate( true, true ) - breaks container height randomly"
Trying to implement a filter, so we need to use "`recalculate( true, true );`" to re-order all visible items.

We only call the recalculate on click and we do not hide anything. On some page reloads and a consequent click the items act normally, but on others all items jump to the bottom of the page. Basically it does not replace the container height, but adds the "new height", which is the same a

[2017-07-05 14:38] jrmd commented on #29
Hi @VlooMan , Could you provide me with a demo that demonstrates the bug? so I can look in to this

[2017-07-05 14:49] VlooMan commented on #29
@jrmd Absolutely.

Here is the link [SEE DEMO](http://themes.ishyoboy.com/macy/).

Try reloading the page normally or with hard reload "CMD SHIFT R" or "CTR SHIFT R" and also opening it in new tab. Then when clicking on the filter it only calls `recalculate( true, true );`. Sometimes the items jump down.

Happens both on MAC and WIN in latest Chrome. Are you able to reproduce it?

Cheers

[2017-07-05 15:05] VlooMan commented on #29
Here is a second link with more functionality on click [SEE DEMO 2](http://themes.ishyoboy.com/macy2/).

In this case it happens even more often.

On click - we fade out all items, show only the filtered ones but they are not visible to humans, we call Macy recalculate & then we fade the visible items in.

[2017-07-06 10:34] #3 closed

[2017-07-06 10:35] jrmd commented on #2
This should be now resolved in v2

[2017-07-06 10:35] #2 closed

[2017-07-06 10:37] jrmd commented on #11
I believe this is not an issue within v2, as it works with es6 imports :)

[2017-07-06 10:37] #11 closed

[2017-07-06 11:01] jrmd commented on #29
Hey @VlooMan

I did manage to reproduce the bug but only once, which I thought was strange. I’m not really sure how to fix this but maybe as a suggestion you could try doing `macy_instance.recalculate( true )` this would in turn force the images to recalculate but wouldn’t add the loaded attribute. Which doesn’t seem to be needed in your example.

Let me know if this resolves it.

Thanks,
Jerome

[2017-07-06 13:30] jrmd commented on #6
I created macy to be an extremely lightweight pinterest style masonry layout. I dont feel like I would be able to manage this whilst maintaining the small size and speed.

[2017-07-06 13:30] #6 closed

[2017-07-06 13:33] jrmd commented on #8
After looking into the reason why this happens, I feel like this is more the issue on how javascript works. Closing due to a succesful workaround.

[2017-07-06 13:33] #8 closed

[2017-07-08 13:44] dkerzig commented on #29
Hi,
I have exactly the same problem on window-resizes :( I do the following to prevent it, which is unfortunately super performance-costly. (Tried it with throttling/debouncing -> didn't work)

       window.addEventListener('resize', event => {
          macy.reInit()
        });

[2017-07-08 13:48] jrmd commented on #29
Hi @dkerzig

Is there a reason you are reIniting or recalculating on resize?

Macy will auto recalculate on resize so maybe that's the issue. As they maybe conflicting.

Thanks

[2017-07-17 10:49] mateuszluczak commented on #13
Hey any update on this issue? Is the library still maintained?
Looks like it's still ocurring

[2017-07-17 13:54] deansimcox commented on #13
Haven't heard too much - I probably should have created a pull request though.
Maybe I'll try and do that tomorrow

[2017-07-17 13:56] jrmd commented on #13
Hey,

Apologies on the lack of communication, this was on my list of things to do. I was planning on adding it to the next release when i add variable margins. If you would like to add a pull request then that's fine, I'll check through and merge.

Thanks.

[2017-07-18 08:28] jrmd commented on #13
Update,

@deansimcox  I have changed the sort function to now use offsetHeight as per requested. I will update npm to reflect this change soon.

[2017-07-18 08:48] deansimcox commented on #13
Top work @jrmd

[2017-07-19 10:54] #17 closed

[2017-07-19 10:54] #26 closed

[2017-08-30 08:59] AshboDev opened #30 "Mobile first breakAt option"
Hi there,

Just curious...

Is there a way to make the breakAt option use `>=` instead of `<=`? We're in a world of mobile first development, and it would make sense for everything to be `>=`.

Perhaps an option along the lines of `mobileFirst` with the default value being `false` (`<=`) and `true` (`>=`) ?

Just a thought...

[2017-09-25 14:41] #13 closed

[2017-09-26 23:09] Epenance opened #31 "Add class on positioning"
Would it be possible to add a param to the initiation block that would make it possible to add a class once the item has been positioned?

I just released https://redditgrid.com using this lib, but im running into some issues with stuff being shown through the currently played pictures by the ones behind while they are being positioned, it would be idea to be able to simply add a class to the elem

[2017-09-26 23:21] jrmd commented on #31
Hi @Epenance

The site is looking great, its good to see macy out in the wild :) currently this is something thats not yet implemented, but i could look at adding it in.

Although as an alternative solution, you could target the data attribute that is attached to the completed items `data-macy-complete` in css you could do something like this

[code]

[2017-09-26 23:22] Epenance commented on #31
Thanks for the quick reply, i literally figured that out the second i posted the issue, just didnt have time to both test it out and delete the issue :P

[2017-09-26 23:23] jrmd commented on #31
Awesome, let me know how it goes. I'll close this issue for now but if you have any problems just reopen.

[2017-09-26 23:23] #31 closed

[2017-09-27 13:46] jrmd commented on #29
So, I think i figured out the issue with this; and I have came up with a fix for this. I am currently doing some more testing just in case. But I should hopefully have it pushed soon

[2017-09-28 20:20] missmatsuko opened #32 "Is breakAt a required property?"
README says that container is the only required property, but the function wouldn't run for me if I didn't have breakAt set.

[2017-09-28 20:30] jrmd commented on #32
hey

this should have been fixed in 2.1.1

if not I'll get this fixed and released asap when I release version 2.2

[2017-09-28 20:45] jrmd commented on #32
hello,

just a quick update, it turns out this version wasn't published to npm this has since been rectified :)

[2017-09-28 20:46] #32 closed

[2017-10-04 05:05] VlooMan commented on #29
Let us know if we can test as well ;)

[2017-10-12 17:16] thedonquixotic opened #34 "Multiple galleries in a page leads to second gallery breaking."
Hey, so I'm using Macy to build a custom wordpress gallery for myself. It's great!

I create a custom post type called Galleries, and then I use a wp program to insert the gallery into another post. So far, this all works fine.

But when I insert two different galleries the second one doesn't run quite correctly.

Here's how I init macy:

[code]

And I also call this later on in order to help with

[2017-10-12 18:46] thedonquixotic commented on #34
I got a WP centric fix working, by passing the gallery post title to the .gridGallery target as an additional class name, and then running the script within each individual gallery post. But this might not be the most efficient way to do things, and probably wouldn't help anyone else who wants to do multiple macy galleries on a single page, so would love to know more about how to do this in a more

[2017-10-18 10:15] jrmd commented on #34
Hi @thedonquixotic

Sorry for the late response, I must've missed this notification.

The issue you are mentioning seems to be caused by you only initialising Macy once, whereas you need to be creating a Macy instance per 'gallery'.

To resolve this issue you could run a for loop and give each gallery an ID an then create a Macy instance for each gallery.

[code]

Unfortunately, Macy doesn't suppo

[2017-10-18 17:58] thedonquixotic commented on #34
Thanks! That's super helpful!

On Wed, Oct 18, 2017 at 5:15 AM Jerome Duncan <notifications@github.com>
wrote:

[2017-10-23 16:06] jrmd commented on #29
hey @VlooMan

I have just pushed version 2.2.0 to npm, this issue is now fixed.

One thing to note, I altered the image loading script so it now requires a promise polyfill for IE11. I chose this solution as it was much more reliable, especially since promises are supported quite well now.

[2017-10-23 16:06] #29 closed

[2017-10-23 16:07] #34 closed

[2017-10-23 16:08] jrmd commented on #28
Hey,

In the latest release i have added some events which are documented in the readme. It would be great to get your opinons/suggestions to make macy better :)

[2017-10-23 16:08] #28 closed

[2017-11-24 23:27] jongc commented on #30
This would be great! Please support this instead.

[2017-11-27 15:01] jrmd commented on #30
Once its released on npm this feature will be available as you described.

`mobileFirst: true` will enable it, i will update this issue when its deployed to npm

[2018-01-09 12:15] plojewski opened #35 "More width"
Hi,
is it possible to set 1 item to have width of 2 items?

[2018-01-09 12:19] jrmd commented on #35
hey @plojewski

This is unfortunately not possible with macy, as this feature would require a rewrite I doubt that I would implement this any time soon.

Sorry for any inconvenience.

[2018-01-09 12:25] plojewski commented on #35
OK, thanks for answer!

[2018-01-09 12:25] #35 closed

[2018-01-16 07:34] thedonquixotic opened #36 "Weird bottom margin?"
Hey I'm sorry to bother you. I honestly feel kind of dumb coming to ask for help with this because I feel like this is something I probably should be able to figure out myself but I've been whacking my head against this for a couple of hours and I thought I'd post this before bed.

So I've got an implementation of Macy.js in a custom WP theme I made for my portfolio website. It was running fine on

[2018-01-16 09:25] jrmd commented on #36
hey @thedonquixotic

After looking into this, I noticed it was an issue with the styles. If you set the image as `vertical-align: top;` your issue should be fixed. This puzzled me at first but looking on [Stack overflow](https://stackoverflow.com/questions/11447707/div-container-larger-than-image-inside/11447770#comment15106799_11447727) I found the answer.

Hope this helps.

Thanks,
Jerome

[2018-01-16 18:52] thedonquixotic commented on #36
Thank you @jrmd ! I am still very much a novice developer. I was a designer who was taught using bootstrap. And I finally got so annoyed with bootstraps outdated practices that I ripped it out of my 98% finished project and then found I had a bunch of bugs I'd never even seen before. I've relied on it too much to normalize my css. Thank you so much for the help.

[2018-01-16 18:52] #36 closed

[2018-02-01 00:07] YvonneD opened #37 "How could make images smooth when resize the browser"
Hi,
It's awesome to layout the images. But how could the images smooth when I resize the browser,and with some fancy animations when loading images with javascript?
Thanks

[2018-02-12 12:07] daybugging opened #38 "TypeError: (intermediate value).querySelectorAll is not a function"
Any ideas on that? Using latest version available through NPM.
Thx!

[2018-03-20 17:28] nathkrill opened #39 "TypeError: n.replace is not a function"
I am using Macy (the latest version from npm - 2.3.0) and upon initialisation I get the error: `Uncaught TypeError: n.replace is not a function`.

Here is how I am using Macy:
[code]
The idea is that I can call `masonry.reinit` any time I need to reinitialise and it will recalculate.

[2018-03-20 17:30] jrmd commented on #38
hey @daybugging

Could you provide an example on how you are using macy, so i can reproduce?

Thanks,
Jerome

[2018-03-20 17:56] nathkrill commented on #39
Saw my problem - I was passing a variable into `container` rather than an element selector. Perhaps this would make a nice feature?

[2018-04-12 11:08] jrmd commented on #39
hey @nathkrill

I will look to implement this when i have some free time as i believe it would be handy :)

Closing for now as its not a bug :)

[2018-04-12 11:08] #39 closed

[2018-04-12 11:15] jrmd commented on #37
To do this you could use css to target the elements that are completed e.g each masonry item will get `data-macy-complete="1"` on the element when its loaded.

To target this in css you can do this:
[code]

A more complete example, assuming the items in the container have a class of `macy-item`
[code]

[2018-04-12 11:15] #37 closed

[2018-04-12 11:16] jrmd commented on #38
Closing as no information has been provided.

[2018-04-12 11:16] #38 closed

[2018-05-01 19:05] zta6 opened #40 "Image overlaying when images are cached"
Hello,

I've got a weird bug thats popping up only on Safari on an iMac. I haven't been able to reproduce the issue anywhere else and I've tried to do some research into the problem but I haven't found much.

On the first load of an image gallery everything looks fine, as shown below:
![screen-shot-2018-05-01-at-2 52 43-pm](https://user-images.githubusercontent.com/14204943/39488687-ff993d06-4d50-

[2018-05-03 15:17] jrmd commented on #40
Hey @zta6 ,

Thanks for filing an issue, this seems like it could be an issue with the images loaded stuff; as a solution you could try calling recalculate manually when you know everything is loaded.

Without an actual demo link I cant investigate this further so the above is just a guess on what could be the potential solution.

Let me know if that works or provide me with a link and I'll check

[2018-05-25 12:26] CHEWX opened #41 "Responsive Margin"
Hi,

Usually when using Macy I'm using it in a responsive grid environment.

As such it would be good if you could parse percentage margins.

[code]

Like the above for example.

Thanks.

[2018-06-10 04:08] Rubel-hossain commented on #19
adding the method in click method ,  macy.recalculate();

[2018-06-11 14:45] sangsangg99 opened #42 "Transition for Macy.js"
Hi ,
Is mary.js have transition like masonry.js

[2018-06-11 14:54] jrmd commented on #42
Macy doesn't animate by default due to me wanting to keep it lightweight, however you can use css to create animations. I gave an example on how to do this in issue #37

[2018-06-11 14:54] #42 closed

[2018-07-31 02:32] fatalmuffin opened #44 "Licensing?"
Hi, I couldn't find anything regarding licensing the library.

Is it GNU?

[2018-08-01 14:34] jrmd commented on #44
Hi @fatalmuffin

The script is licensed under MIT which can be seen in the package.json here https://github.com/bigbitecreative/macy.js/blob/master/package.json#L25

Let me know if you have anymore questions,

Thanks,
Jerome

[2018-08-01 14:34] #44 closed

[2018-09-05 11:53] naglalakk opened #45 "recalculate not working for me with dynamic images"
Hi and thank you for this fine lightweight masonry plugin. I'm wondering if I'm doing something wrong with the recalculate function. My scenario is this: I have to display 12 thumbnails at a given time. In this container I have a left and a right arrow so user can slide to the next 12 thumbnails. I do this by initially hiding all items and then feeding them to the macy container depending on which

[2018-09-05 11:59] jrmd commented on #45
Hi @naglalakk,

Sorry to see you're having issues; however i believe this could be an issue with the recalculate happening before the images have loaded. As a potential solution,  you could try doing a `reInit` as this should run the images loaded code.

So in your `slideTransition` function try replacing `this.instance.recalculate(true)` with `this.instance.reInit()`.

Let me know if this resolve

[2018-09-05 12:48] naglalakk commented on #45
Hi @jrmd thank you for a quick response. You were absolutely right it was because the images were not loaded. reInit did not work for me but I used

[code]

Thanks again for your help and your good library. I will close this issue now :)

[2018-09-05 12:48] #45 closed

[2018-09-05 13:57] jrmd commented on #45
@naglalakk Great stuff! Glad you like the library.

[2018-09-20 18:04] adamrobinson opened #46 "Breakpoint width measurement off. Doesnt take scrollbar into account"
It's proving hard to match up the breakpoint values in the plugin with CSS breakpoint values because of the way screen width is calculated.

Testing In Chrome the breakpoint in the plugin triggers 15px wider than the CSS media query (sizing window up).  15px seems to be the exact size of the scrollbar.

[2018-09-20 18:48] jrmd commented on #46
Hey @adamrobinson

Sorry you're having issues with this, I have a fix in mind so I will do some tests and should have fix sorted by tonight

[2018-09-20 20:08] jrmd commented on #46
Hey @adamrobinson this issue has been resolved in version 2.3.1

Let me know if you have any issues with the build.

[2018-09-20 20:08] #46 closed

[2018-09-20 20:14] adamrobinson commented on #46
Thank you @jrmd for such a quick fix it’s really appreciated. Will test out the new version first thing in the morning.

[2018-09-21 09:31] adamrobinson commented on #46
Works great now. Thanks.

[2018-09-23 13:29] mytushino commented on #28
Hi - how about the callback function when all the chilren get the style atrribute with left top position values - which would the signal that macy has constructed the grid.

The emit option is fine but in my case I have EventEmitter.js already in use.

So something like `done` property in options object would be very handy.

Thanks.

[2018-11-05 02:56] ProQuestionAsker opened #48 "macy.recalculate doesn't calculate top margin for first row"
Hey there! First of all, I'm loving Macy.js so thank you for this!

Second, I'm working on adding a filter feature to my layout. The initial macy instance loads great and everything appears in the correct place. For reference, I have the `margin: 24` in the initial macy instance. The margin of 24 px seems to apply a uniform margin around all sides of all items *except* the top margin of items on t

[2018-11-05 09:54] jrmd commented on #48
Hi @ProQuestionAsker

Sorry to see you're having issues.

As a suggestion have you tried adding either `margin-top` the macy-container rather than trying to add it to the elements inside, or adding `margin-bottom` to the filters container. This make it much easier for you to control the margins.

As another method, you could set the vertical margins to 0 and wrap each item in the macy object in a

[2018-11-05 17:08] ProQuestionAsker commented on #48
No worries at all, thanks for the quick response and assistance!

I've added a version of the site here: https://elastic-fermat-c4dfa4.netlify.com/

I've tried what you have suggested but none of them seem to work. They all do add some padding or space, but they still prevent the top row from aligning after a `macy.recalculate()` call.

It ultimately seems to be an issue with the way that macy is

[2018-11-05 17:14] jrmd commented on #48
Hi @ProQuestionAsker

After looking at what your example, i see what you mean, it seems like i dont take into account that some items aren't visible so i continue to place them on the grid.

I will look into fixing this soon, however as a solution in the mean time you could remove items from the grid then recalculate. Although this isn't ideal, I'll look into this as soon as i have chance.

Sorry

[2018-11-17 21:55] kaptainroll commented on #40
I'm having this same issue with cached images on Firefox. It doesn't seem to happen on Chrome.

I tried the above solution with no success. I have a feeling that since the images are already cached/loaded it doesn't trigger the recalculating. How would I go about fixing it?

[2019-01-23 14:13] #48 closed

[2019-01-23 14:17] jrmd commented on #48
Hi @ProQuestionAsker

This issue should now be resolved and has been released as version 2.3.2 on npm

Once upgraded if the issue still occurs feel free to re-open the ticket.

Thanks,
Jerome

[2019-02-10 05:22] ProQuestionAsker commented on #48
Works like a charm! Thank you!!

[2019-02-12 20:43] Souldrinker opened #49 "Dependencies"
I needed a masonry library and wanted to avoid jQuery and other dependencies and so far this library seem to be really easy to set up and get to work as I wanted :-)

But, I'm curious about one thing. On the web page it says "Macy.js is a lightweight, dependency-free, 4kb masonry layout library", so how come you still have dependencies (not devDependencies) to babel-eslint and rollup-plugin-eslint

[2019-02-13 09:11] jrmd commented on #49
Hey @Souldrinker

Thanks for pointing this out, these should be in devDependencies and I will roll out a fix later today. These must have been added to dependencies in error.

Sorry for the inconvenience.

[2019-02-19 11:47] KjeldSchmidt opened #50 "breaktAt based on container width instead of viewport width?"
Hey, thanks for all the great work.

I'm currently setting up breakpoints for a new layout and it took me a while to realize that the breakpoints are based on the total viewport width instead of the container width (even though the readme states that fact quite clearly...). This seems counterintuitive to me. In my case, the container is simply 80% of the viewport, so calculations aren't a big prob

[2019-02-19 12:34] Souldrinker commented on #49
Not meaning to stress you, but I thought I could mention that I ran into an issue due to these dependencies. I removed the package-lock.json and the node_modules folder and tried to re-run npm install, but after that I ran into this issue with webpack which at first might look unrelated:
https://discourse.aurelia.io/t/aurelia-dialog-2-0-0-rc-5-error/2160

But after following the link to the webpac

[2019-02-22 23:16] ashfahan commented on #38
This issue still exist
its odd that the error shows up only at $react-scripts test --env=jsdom

here is the log

`PS J:\Web Sites\ashfahan-portfolio-app> yarn test
yarn run v1.12.1
$ react-scripts test --env=jsdom

 RUNS  src/Main.test.jsx

Test Suites: 0 of 1 total
Tests:       0 total
Snapshots:   0 total
  console.error node_modules/jsdom/lib/jsdom/virtual-console.js:29
    Error: Uncaught [Typ

[2019-02-23 11:30] ashfahan commented on #38
Hi @jrmd

This issue still exist in latest NPM version of macy
its odd that the error shows up only at $react-scripts test --env=jsdom

here is the log

    J:\Web Sites\project> yarn test
    yarn run v1.12.1
    $ react-scripts test --env=jsdom

     RUNS  src/Main.test.jsx

    Test Suites: 0 of 1 total
    Tests:       0 total
    Snapshots:   0 total
      console.error node_modules/jsdom/lib

[2019-03-01 13:27] electerious commented on #40
This usually happens when an `onload` event gets attached AFTER an image has been loaded (which is the case then it's cached): https://stackoverflow.com/questions/12354865/image-onload-event-and-browser-cache

[2019-03-01 13:32] electerious opened #51 "NodeElement container"
Is it correct that the `container` option only allows a selector, but no NodeElement?

I would like to create a Macy instances for multiple elements without using a `id`.

[code]

[2019-03-04 16:23] sjankowski commented on #51
I got the same problem. Have You discovered something about that @electerious ?
Even when using class selector - only first child is working.

[2019-03-04 16:30] sjankowski commented on #51
@electerious i found a workaround in one of closed issues:
https://github.com/bigbite/macy.js/issues/34#issuecomment-337539077

Hope it will help You too :)

[2019-03-04 16:33] jrmd commented on #51
Hi @sjankowski and @electerious

As this seems to be a highly requested feature, I will work to implement for the next minor version.

I'll update this issue once complete.

[2019-03-04 18:10] #41 closed

[2019-03-04 18:10] #49 closed

[2019-03-04 18:10] #51 closed

[2019-03-04 18:13] jrmd commented on #41
Hey @CHEWX ,

I have implemented the first version of this, currently custom units are only supported on the x property, due to how the height of the container is calculated.

In the future i'll work on reworking the how the height is calculated to add support for custom Y values

[2019-03-04 18:14] jrmd commented on #51
hey @electerious @sjankowski  this has now been published to npm as version 2.4

[2019-03-04 18:17] jrmd commented on #49
Hey @Souldrinker I have moved all dependencies into devDependencies, hopefully this will solve the above issues.

Sorry for the incovenience

[2019-03-14 17:38] spyrosel opened #52 "Missed a comma, put dot instead."
[code]
should be
[code]

[2019-03-15 09:08] #52 closed

[2019-03-22 12:43] CHEWX opened #53 "Promise IE11 fallback"
Hi,

Instead of the script just erroring and killing the page, could we have a graceful fallback to just a single column, or basically, just don't init Macy.

I don't really want to use a polyfill, so would rather Macy didn't run at all and IE11 just get's CSS.

Thanks,
Tom

[2019-03-30 03:26] ivan-vilches opened #54 "How i can remove the rounded border on the images"
I see a bit of round on the images any way to remove that?
Thanks you

[2019-04-01 13:35] jrmd commented on #54
Hi @ivan-vilches,

Do you have a demo of this happening? As macy doesnt add any border radius' to images or containers.

[2019-04-01 15:19] #53 closed

[2019-04-01 15:22] jrmd commented on #53
Hi @CHEWX

Thanks for reporting this, i have added an option to prevent macy running if promises arent supported, `cancelLegacy`, As users can still use macy on IE11 without images.

Let me know if you come across any issues with this implementation.

Regards,
Jerome

[2019-04-01 15:23] jrmd commented on #40
Re-opening as I closed the wrong issue.

[2019-04-01 15:24] jrmd commented on #50
Hey @KjeldSchmidt

I have implemented this as an option in the latest release of macy, you can now do this by adding this `useContainerForBreakpoints: true` to your macy options.

Let me know if you have any issues with this and I will aim to resolve them

Thanks,
Jerome

[2019-04-01 15:24] #50 closed

[2019-04-01 15:45] jrmd commented on #40
Hey @kaptainroll  and @zta6

It seems that adding `runOnImageLoad` will cause it to run on even complete images so you will be able do something similar to this

[code]

Let me know if this works.

Thanks,
Jerome

[2019-04-01 16:04] zta6 commented on #40
@jrmd this issue _seems_ to have gone away for the time being. If it comes back I'll definitely try this. Thanks!!

[2019-04-01 16:05] jrmd commented on #40
great to hear @zta6 let me know if it happens again, it must be down to timing of functions running to actually loading

[2019-04-23 12:31] Flowgram opened #56 "If parent container is display: flex macy doesn't calculate top position on page load"
Hi,

I've been using macy.js quite a bit recently and I'm very happy with it.

As the title says, sometimes I'd like to set the parent container to `display: flex` to avoid a massive layout switch once the JS and Macy kick in (or JS fails to load). In some scenarios, this stops Macy from calculating the correct positions for the child elements. If you resize the browser, it recalculates and everyt

[2019-04-23 13:37] jrmd commented on #56
Hi @Flowgram

I found a css solution to help with this; To start add `align-items: flex-start` to `.container`.

Now on the `.card` you need to make sure your flex values are equal to to the column widths that macy would choose. For example, when macy uses 5 columns, set the flex basis to `calc(20% - 19.2px)` you will need to do this for all sizes using media queries.

To work out what the value w

[2019-04-23 14:34] Flowgram commented on #56
@jrmd That's perfect! `flex-start` did the trick, thank you so much.

In terms of the column width, thanks for your pointers, I'll have a look into this.

[2019-04-23 14:35] #56 closed

[2019-06-30 20:59] JayHoltslander commented on #54
@jrmd I think you need:
[code]

[2019-06-30 21:04] JayHoltslander opened #57 "Incompatibility with LazySizes?"
Trying to use this with [LazySizes](https://github.com/aFarkas/lazysizes) and most of the images (but not all) on the page load at 1-2px height only.
What am I missing here?

[2019-07-16 10:49] MerlinMason commented on #44
Added a PR to make this more clearer :) https://github.com/bigbite/macy.js/pull/58

[2019-08-11 14:33] vincentorback opened #59 "Update readme on: how to run once all the images have loaded"
The readme states:

can achieve this by passing null as the first parameter:
[code]
But in the example `true` and `true` is provided. What’s the correct way to specify that you only want to **run once all the images have loaded**.

Thanks for this great lib!

[2019-09-12 20:09] kakposoe opened #61 "Document callback options offer in runOnImageLoad"
Within the documentation, I did not see it mentioned that there is the ability to retrieve data about the loaded image:

[code]

It would be good to let people know this option is possible.

[2019-10-19 00:40] therealsamsquanch opened #62 "Do nothing if there's only one column"
I'm using breakAt and it works as intended. The only problem is that Macy still sets every item position even if there's only one column. It would be more efficient to do nothing and let the browser and the user's CSS rules do its work, specially on mobile devices.

[2020-01-09 13:13] goncalobranco opened #63 "Having 2 or more Macy Containers ID's, how?"
I have a grid layout with 2 tabs (Winter and Summer tabs). Each tab has a list of items that should have the Macy.js layout.
With the first tab, everything works just fine. The problem os to make the second tab work fine too! Example below of the first tab displaying Macy.js grid.

![Screenshot 2020-01-09 at 12 53 17](https://user-images.githubusercontent.com/59693579/72069739-bee50f80-32df-11ea-8

[2020-01-09 13:28] jrmd commented on #63
Hi @goncalobranco

Macy does support having multiple instances pointing to different containers. I believe the issue is probably caused by the second tab not being visible, when the tab isnt visible the child elements dont have a height so when calculating nothing will show. As a fix, each time you switch tab run `macyInstance.recalculate(true)` on the respective macy instance.

For example this i

[2020-01-09 13:38] jrmd commented on #61
Hey @kakposoe

Thanks for pointing this out. In previous versions, runOnImageLoad never passed the image to callback, I'll update the README

[2020-01-09 13:43] jrmd commented on #59
Hi @vincentorback

Sorry for the late response, the documentation here is invalid and references the function from a previous version.

runOnImageLoad takes two paramaters, the first being a function (the callback) the second being a boolean. If you pass true, as the second parameter then it will run on every image load but if not then it will run at the end

[2020-01-09 13:55] vincentorback commented on #59
@jrmd Thanks a lot for the clarification!

[2020-01-09 17:47] goncalobranco commented on #63
yes! that's correct what you said about the height of the div because the content of the second tab is hidden. Thanks a lot for the tip @jrmd ! I will try that approach to see if I manage to do it and I'll let you know later

[2020-01-13 10:55] kakposoe commented on #61
@jrmd Thanks for clearing up and thank you for your work on this.

[2020-01-16 20:39] #59 closed

[2020-01-16 20:39] #61 closed

[2020-01-16 21:02] jrmd commented on #63
Hi @goncalobranco
Did you manage to fix this?

Just so I can close this issue

[2020-01-16 21:09] jrmd commented on #57
Hi @JayHoltslander

Sorry for the late response, although I have never used LazySizes I imagine it would be possible to get this to work if there is an event listener you can use one the image is loaded in, so you can call recalculate on the macy instance.

Once macy has calculated the image height it will ignore it for any recalculations, this was added so content loaded via ajax wouldnt cause th

[2020-01-16 21:09] #57 closed

[2020-01-16 21:09] #40 closed

[2020-01-16 21:10] #54 closed

[2020-01-16 21:20] JayHoltslander commented on #57
I use LazySizes a lot since Google has gone on record as officially recommending it.

[2020-01-19 23:36] SENSIB0I opened #68 "Don't calculate on first load and TypeError"
1. I want to implement Macy.js for my website but on first load it is destroying layout and when I reload this page by using F5, it calculates in the right place. I want to calculate it right at the first load :[

I'm using React.

`
var masonry = (function () {
    'use strict';

    var feed,
        macy;

    function reinit() {
        macy.recalculate();
    }

    function init() {

[2020-01-21 20:05] danielch1994 opened #69 "No License"
Can you please add the MIT license that the package.json file from NPM says it has to the main macy.js github page .

[2020-01-24 17:10] jrmd commented on #69
Hey @danielch1994 I have commited the license file

[2020-01-24 17:10] #69 closed

[2020-01-24 17:25] jrmd commented on #68
Hi @SENSIB0I

This sounds like it could be an issue with how long its taking for the images to load, you can set `waitForImages` to equal false and it will recalculate when each image loads.

In addition to this, I'm unsure why you are having the issue with the default syntax, I have created a jsfiddle with the same config posted and all seems to be working correctly (make sure the output window i

[2020-01-24 17:26] jrmd commented on #68
Here is the link to the jsfiddle: [https://jsfiddle.net/jrmd/t8rw3Ld1/4/](https://jsfiddle.net/jrmd/t8rw3Ld1/4/)

[2020-02-05 13:09] goncalobranco commented on #63
Hi @jrmd sorry for the late reply. Well I bet your code would work but I'm not very good with Javascript since I'm a UX/UI designer and Web Designer focused on html and css so I couldn't manage to make work that way so I didn't use a tab system anymore, instead I used a filtering system so all the pictures are in the same div now. Give it a check www.highlanders.ge/gallery

[2020-02-05 13:13] jrmd commented on #63
Sorry to hear you had trouble implementing the solution, but I'm glad you found a solution; The site is looking great, in the next update to macy I'm going to work on improving performance by skipping hidden elements, so they wont be calculated.

[2020-02-05 13:13] #63 closed

[2020-02-05 13:15] goncalobranco commented on #63
Yes that would be a nice update! But like I said, I'm not very good with JS because if I were, I know I would manage with the code you sent me. thanks anyway ;)

[2020-02-19 15:51] BeholdPL commented on #68
I have the same problem. I notice this problem occurs when there is a lot of images, in my case I have ~50. My settings:

[code]

[2020-02-24 08:13] nordbit opened #70 "catch error when container not found"
I'm trying replace combo salvattore.js + scrollreveal.js with macy.js+sal.js.
The problem is, when macy.js can't find container sal.js on this page stop working and browser js-engine throw error:
[code]
Source of error is macy.js

[2020-02-26 00:53] adrianocr opened #71 "Does anyone have any insight into how to use this with vue/nuxt?"
I tried to import it as a nuxt plugin but that doesn't work, it keeps shooting up "element is not defined" errors.

[2020-03-21 02:28] fernandodelgadomtech opened #72 "useContainerForBreakpoints doesn't work"
Hello,

in the following example, I'm setting up a div with the CSS property resize to test useContainerForBreakpoints and macy.js is not reacting to the breakpoints when I resize it.

The window one works just fine.

[https://js-roryda.stackblitz.io/](https://js-roryda.stackblitz.io/) Example only
[https://stackblitz.com/edit/js-roryda](https://stackblitz.com/edit/js-roryda) Code

[2020-03-29 22:35] Cryde commented on #71
I simply import it.
Then in mounted I attach the instance :
[code]

[2020-04-09 16:27] Nic787 opened #73 "Is there a way to make Macy responsive?"
Hi,

When I resize my browser, I see that the images are becoming weird until they "reload" in the good position when the browser stopped resizing. Is there a way to prevent that from happening?

thank you

[2020-04-09 18:31] crn1 opened #74 "Is it possible to center Macy items?"
Is it possible to center Macy items in a container? Like `justify-content` for flexbox, just for Macy?

[2020-04-09 18:43] crn1 commented on #74
Closing because I just now realized that this is a stupid question.

[2020-04-09 18:43] #74 closed, assigned to nobody

[2020-04-24 23:51] ghost commented on #41
Any news on this?

[2020-04-25 10:09] jrmd commented on #41
Hey @dnnsjsk

As per my comment above; this was implemented for the x margin around a year ago :)

[2020-06-01 01:32] ihewro commented on #72
use the lastest version may solve this problem
I have met this problem because I use the `http://macyjs.com/assets/js/macy.min.js` which verson is 2.0.0 while lastest version is 2.5.1

[2020-07-22 23:07] ceehaupt opened #77 "item taking two columns"
Hi,

I just want to ask if it is possible with macy to have some items with a width of two columns like in isotope https://codepen.io/desandro/pen/mEinp ?

Best

[2020-07-27 10:32] aleksandras-va commented on #73
Hey @Nic787, try adding event listener on window object to listen for resize event, then run `macyInstance.recalculate(true);`

[2020-08-31 10:10] hrishikesh-k commented on #77
@ceehaupt

I am probably too late to answer, but, I just came here after implementing it on my website and had the same question. But, what a bummer. According to this issue https://github.com/bigbite/macy.js/issues/35, it's not possible and might never get implemented.

So, I gotta look for another library now, which is kinda disappointing as Macy had otherwise worked perfectly for me.

[2020-08-31 10:15] hrishikesh-k commented on #77
Update, I just thought of a very simple solution and it works great for me. I added a child container to the one that's getting sized by Macy and set its width to 200%. Done.

[2020-09-17 09:35] marcfilleul opened #78 "SOLVED: Display issue on Safari and Samsung browser (with Cloudinary and a lot of images)"
Hi,

I'm using Macy with multiple galleries on [this page](https://oliviapoumeyrol.netlify.app/galerie/).

It works well on my PC and Android phone but it doesn't work on my 2 iPad (Safari, Chrome and Firefox).

The page takes longer to load on my iPad, then it loads about 25% of my images only and the layout is broken.
It also freezes the browser if I scroll down then up.

I really don't know wha

[2020-10-01 09:16] marcfilleul commented on #78
Two hours ago, my client told me about a similar issue on 4 different mobile phones.

She described the same display bug without knowing about the iPad issue I had, so I suppose it's a performance issue as I have no trouble in my high-end mobile.

Is there a way to solve this?

[2020-10-01 12:53] marcfilleul commented on #78
Finally, it's not a performance issue because my client have the issue on high-end mobile phones.

After several tests, the issue happens on Samsung browser and on Apple mobile devices, so it looks like a browser compatibility issue.

Any clue?

[2020-10-02 08:18] marcfilleul commented on #78
After several tests, and without understanding why, I found the culprit.
Cloudinary was causing the issue on some browsers only.

When using locally hosted images, everything works just fine!

[2020-10-02 08:18] #78 closed, assigned to nobody

[2020-10-08 13:16] riadcitaku commented on #77
@Hrishikesh-K is that being calculated? Mine is overflowing into the next item.

[2020-10-08 13:19] hrishikesh-k commented on #77
@riadcitaku Yeah, it'll overflow into the next item. This library isn't designed to handle some item consuming 2 columns, so, the overflow is gonna happen and the next items aren't going to automatically adjust. It had worked in my case because the one I needed in 2 columns was supposed to be the last item in the row.

[2020-10-27 11:47] afuno opened #79 "How to change the number of columns depending on the number of items?"
How to implement this?

- 4 columns for 3 or more items
- 2 columns for 2 items
- 1 column for 1 item

That is, if I add or delete items from the list, the number of columns should change.

As far as I understand now, the `reInit()` method does not solve this problem? Can you please tell me how can I implement this?

[2020-12-04 15:04] bojanvidanovic commented on #78
I experienced the same issue yesterday, I found a quick fix by setting waitForImages to true.

[2020-12-18 17:09] studiohic opened #80 "Adding clamp as an option for margin:x"
Hi there. Thanks for all you hard work on Macy. Are there any plans to incorporate clamp as a unit type to measure the margin width? Thanks. James.

[2020-12-31 08:02] richardpbull opened #81 "Grid dimensions only calculated on window resize"
Hello,
I must be doing something wrong as everywhere else I read about this it is working perfectly.
I can't get the instance to resize on all images loading.
The images remain overlapped until I resize the browser. Video below:

https://user-images.githubusercontent.com/5243046/103400813-9787e380-4aea-11eb-909d-b275469de034.mov

Here's the code being used on this example: https://www.ultratourmon

[2021-01-25 08:55] ve3 commented on #81
Confirm the same problem.

[code]

[2021-03-08 00:33] kuipumu commented on #81
I'm having the same issue, any fix?.

![image](https://user-images.githubusercontent.com/8495728/110260860-509fe980-7f84-11eb-9abe-9e6026e6ca6e.png)

[2021-03-08 09:58] jrmd commented on #81
hey @richardpbull @kuipumu

You could try running the recalculate event on each image load; the issue seems to be if an image has failed to load (or if it does it too quick) then it can cause issues with the event finishing you can try doing it like so here:
[code]

[2021-03-08 10:05] jrmd commented on #72
@fernandodelgadomtech
The example you have allows you to resize the container without resizing the document. We dont listen on containers resize. So add an event listener on the containers resize event that calls `macy_instance.recalculate(true, true);`

[2021-03-10 10:52] ma-vo commented on #38
still existing. please reopen.

[2021-03-10 10:56] jrmd commented on #38
@ma-vo could you provide  an example of how you are using this to get an error please?

[2021-03-10 17:11] maicol07 opened #83 "Add children selector"
Add an option top choose the children items selector, instead of getting all the children items

[2021-03-10 17:39] kuipumu commented on #81
Hi @richardpbull adding the recalculate event didn't fixed the issue, the problem was that if no src is present on each image macy.js fails to give a correct height, and unless you resize the windows the grid will be shown has previously captured.

[2021-03-25 22:56] tourdefran opened #84 "How can I add my own preload image? useOwnImageLoader"
Hi,
I want to know how useOwnImageLoader works,
I need to put some preload, otherwise the last image shows giant in full screen and looks like a bug,
thanks in advance

[2021-03-29 17:10] RolandTi opened #85 "Macy and iframe (google reCAPTCHA v2)"
Hello,
I added a google reCaptcha in a Macy instance.
It seems to me that the iframe from google is so long to load that Macy doesn't calculate it. (screenshot 1 with macy over the footer's line).

![Capture d’écran 2021-03-29 à 19 02 15](https://user-images.githubusercontent.com/28786873/112873034-61dea080-90c1-11eb-9a2d-136a791479db.png)

But if I resize the window, Macy recalculate everything

[2021-04-03 15:11] alimony opened #86 "Add option to fill container based on item width instead"
As far as I can tell there is no way to let macy fill the container with items based on the width of each item. In my design, the width of each item is much more important than the exact number of columns at each page width. I would like an option to use whatever number of columns given a fixed column width.

[2021-04-08 13:21] mortennh commented on #86
@alimony i have exact the same problem. the only alternative i know that supports width-based columns is desandros/masonry

https://masonry.desandro.com/options.html#columnwidth

https://codepen.io/desandro/pen/osFxj

[2021-04-08 13:25] alimony commented on #86
Yeah, I'm actually researching alternatives to Masonry because I've found its behaviour buggy lately, maybe because it hasn't kept up with browser development. The last release was three years ago and I don't see much engagement in the issues and PRs either.

[2021-04-08 14:10] mortennh commented on #86
@alimony i just switched two of my masonry grids from macy to desandors and it works like a charm! maybe you give it a try. i disabled the `animationDuration` since it looks shit^^ happy to help if you need assistance

[2021-05-05 09:58] krishanik commented on #81
same issue here

[2021-05-05 10:07] c8e4d2a commented on #81
same issue, src is present in all images

[2021-05-05 10:12] c8e4d2a commented on #81
Dirty Fix:
[code]

[2021-06-30 18:29] frontedbe commented on #74
@crn1 I'm probably missing something here but may I ask how you solved this? I have my container items flexed and justify-centered but they still get aligned to the left...

[2021-07-01 10:15] crn1 commented on #74
Sorry, I was using Macy a long time ago and now I don't really remember how I solved it. I think it couldn't be done because of the nature of Macy. It "physically" wasn't possible I think. Or I used simple CSS, I can't recall.

[2021-07-01 11:46] 1aurabrown commented on #62
I second this - inline styles also remain on masonry elements after destroying the Macy instance, breaking the page layout.

[2021-07-28 10:15] 1aurabrown opened #88 "Macy is not disabled when `columns: 1` is set"
In the documentation it says:

My macy setup:

[code]

Everything looks great on desktop: https://share.getcloudapp.com/z8uONPEA

On mobile, the layout does switch to single column, but Macy continues to be active. Any changes to the viewport produce a visual lag during which Macy is recalculating the layout, as reflected in the absolute positions assigned to the each element: https://share.getclo

[2021-08-05 16:14] nawras-albaghdadi opened #89 "RTL direction is not supported"
Under the RTL direction 'dir="rtl"', elements are rearranged from left to right, not the other way around

[2021-08-21 16:27] CHEWX commented on #71
@Cryde A little ambiguous, import what? `import Macy from 'macy'`?

Are you doing the init under `mounted() {}`

[2021-08-21 19:34] Cryde commented on #71
`import Macy from "macy";` yes

I've init it under `created() {}`

[2021-08-24 17:33] #71 closed, assigned to nobody

[2021-10-20 03:50] nannan0109 commented on #70
请问你解决了吗

[2021-12-03 15:45] nickpish opened #93 "Add class to container when Macy is initialized?"
First off, thank you for a fantastic light-weight masonry plugin! I'm wondering how I might add a `macy-init` class to the container element when Macy has initialized? I've tried the following using an event key, but it doesn't seem to be working:

[code]

Thanks for any insight here.

[2022-01-06 20:09] jringeisen opened #94 "Scrolls to top on recalculate()."
Hi 👋 I've implemented infinite scrolling with the Pexels API and when I scroll down to load new results the scroll bar jumps to the top of the screen. The new images are loaded but I now have to scroll all the way back down and when I do it jumps back up again. If I remove the macy.js code it works fine but then I don't have the masonry effect. Any ideas on what could be causing this? I'm using La

[2022-02-21 14:17] damian-krz commented on #68
Hi!

I have same issue.
Any solve of this problem?

Regards!

[2022-04-13 09:03] zdimaz opened #95 "runtime-core.esm-bundler.js?5c40:38 [Vue warn]: Failed to resolve component: din If this is a native custom element, make sure to exclude it from component resolution via compilerOptions.isCustomElement."
runtime-core.esm-bundler.js?5c40:38 [Vue warn]: Failed to resolve component: din
If this is a native custom element, make sure to exclude it from component resolution via compilerOptions.isCustomElement.

[2022-04-20 07:42] ignacio-dev commented on #94
I'm having the same issue.. While using a window.scrollTo() solves the problem, it causes the whole thing to flicker

EDIT:
Setting waitForImages to true solved my flickering issue

[2022-05-02 07:08] lzj666888 commented on #93
You can edit the source code. In setup function, add the async function to wrap "emit EVENT_INITIALIZED". But this may not be logical. I think the best way to resolve this question is to extract an initalization lifecycle function.

[2022-05-02 07:40] lzj666888 commented on #79
In this condition, you can edit the source code. While reIniting, assign new options to the old options of macy instance. Just update the options is ok.

[2022-08-26 13:22] aetinx opened #97 "Automatic amount of rows?"
Is it possible to have a varying amount of columns? It would be cool to have something like [`grid-template-columns: repeat(auto-fill, minmax(150px, 1fr))`](https://web.dev/patterns/layout/repeat-auto-minmax/) so I could have less columns from smaller screens and more columns for bigger screens.

[2022-09-07 17:49] milinkovicjovan commented on #95
@zdimaz
Hello did you find your answer ? I get this message
  console.warn
      [Vue warn]: Failed to resolve component: BaseButton
      If this is a native custom element, make sure to exclude it from component resolution via compilerOptions.isCustomElement.
        at <Anonymous ref="VTU_COMPONENT" >
        at <VTUROOT>
when using vue testing library

[2022-09-08 07:52] zdimaz commented on #95
This is my bug )
Closed )))